/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
  padding:0;
  font-family: helvetica;
  background-color: azure;
}

html{
  overflow-y:scroll;
  overflow-x: hidden;
  margin: 0;
  padding:0;
}

img {
  border: 0px solid #ddd;
  width: 55px;
  height: 54px;
}

.book {
  border: 0px solid #ddd;
  width: 120px;
  height: 150px;
  margin-top: 8%;
  margin-left: 12%;
}

.line {
  border-left: 3px solid green;
  height: 83.5%;
  position: absolute;
  left: 35%;
  margin-left: -3px;
  top: 8.1%;
}

.library {
  margin-left: 12%;
  margin-top: 5%;
  color: black;
  font-size: 16px;
  text-decoration: underline;
}

.time {
  margin-left: 10%;
  color: black;
  font-size: 16px;
}

.author {
  margin-left:10%;
  font-size: 16px;
  color: black;
}

.quote {
  margin-left: 1.5%;
  margin-top: 3%;
  font-size: 16px;
  color: black;
}

.table {
  margin-top: -28%;
  margin-left: 50%;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-size: 16px;
}

.footer {
  position: fixed;
  font-size: 16px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(201, 76, 76, 0.3);
  color: black;
  text-align: center; 
}

.active {
  background-color: #4CAF50;
  padding: 0.9em;
}

.w3-bar {
	margin-bottom: -10px;
}